{% extends "studio/insta_base.html" %}
{% load static from staticfiles %}

{% block title %}Insta{% endblock title %}

{% block content %}

{{ test }}

<form action="/bot/" method="post">
{% csrf_token %}
{{ follow_form }}
<input type="submit" name= "follow" value="Add to follow list">
<input type="submit" name= "unfollow" value="Add to unfollow list">
</form>


<form action="/bot/" method="post">
{% csrf_token %}
<div class="row">
    <table class="table  table-bordered ">
      <tr>
        <th ></td>
        <th >#</td>
        <th >User name</td>
        <th >Full name</td>
        <th >Logo</td>
      </tr>

      {% for user in follow_users_info %}
      <tr>
        <td > <input type="checkbox" name="follow_name_{{ user.user.username }}" value="{{ user.user.username }}"> I have a bike<br></td>
        <td >{{ forloop.counter }}</td>
        <td >{{ user.user.username }}</td>
        <td >{{ user.user.full_name }}</td>
        <td ><img src="{{ user.user.profile_pic_url_hd }}"></td>

      </tr>
      {% endfor %}
    </table>
 </div>
 <input type="submit" value="OK">
</form>
{% endblock content %}
{% block footer %}{% endblock footer %}