{% extends "studio/insta_base.html" %}
{% load static from staticfiles %}

{% block title %}Insta{% endblock title %}

{% block content %}
  TOKEN: {{ token }}
  
  
<div class="row">
    <table class="table  table-bordered ">
      <tr>
        <th ></td>
        <th >#</td>
        <th >Tag</td>
        <th >Count</td>
        <th >Found by</td>
      </tr>
      
      {% for name in names %}
      <tr>
        <td ><input type="checkbox" aria-label="..."></td>
        <td >{{ forloop.counter }}</td>
        <td >#{{ name }}</td>
      </tr>
      {% endfor %}
    </table>
 </div>

{% endblock content %}
{% block footer %}{% endblock footer %}