{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>THE BEST APP IN THE WORLD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="title" content="" />
        <meta name="keywords" content="" />
        <meta property="og:url" content="" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        <link rel="stylesheet" href="{%  static 'dist/styles.css'%}" />
    </head>
    <body>        

        <div class="bg"></div>
        <div id="page-content"></div>

		<script src="{%  static 'dist/main.js'%} "></script>
	</body>
</html>

</html>